.map-card {
    display: block;
    position: absolute;
    width: 80vw;
    top: 29vh;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
  }

.card-close-icon {
    font-size: 24px;
    position: relative;
    left: 90%;
  }