<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Creator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>{{ creator?.firstName }} {{ creator?.lastName }}</h2>
  <p>{{ creator?.description }}</p>
  <ion-list>
    <ion-list-header>Statues</ion-list-header>
    <ion-item *ngFor="let attraction of creator?.attractions" [routerLink]="'/list/' + attraction.id">
      <ion-label>{{ attraction.titleEnglish }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>