<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Routes</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/create-route'">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (search)="searchRoutes()" (ionClear)="getDefualtRoutes()">
  </ion-searchbar>
  <ion-segment [(ngModel)]="segment" padding (ionChange)="segmentChanged($event)">
    <ion-segment-button value="All">
      <ion-label>All routes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="My">
      <ion-label>My routes</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-item *ngFor="let route of routes" [routerLink]="'/detail-route/' + route.id">
      <ion-label>
        <h2>{{route.routeName}}</h2>
        <h5>
          <span *ngIf="route.aggregatedRatings != 'NaN'; else noRatings">
            <span *ngFor="let number of [1,2,3,4,5]">  
              <ion-icon *ngIf="number <= route.aggregatedRatings; else outlineStar" slot="start" name="star"></ion-icon>
              <ng-template #outlineStar>
                <ion-icon slot="start" name="star-outline"></ion-icon>
              </ng-template>
            </span>
          </span>
          <ng-template #noRatings>
            No reviews
          </ng-template>
        </h5>
      </ion-label>
      <div *ngIf="route.id === myActiveRouteId">
        <ion-icon color="primary" name="checkmark-circle-outline" size="small" slot="start"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>