<div>
  <div class="routes-row">
    <ion-card class="route-container" *ngFor="let route of routes" (click)="onRouteSelect(route)">
      <ion-col>
        <ion-row>
          <ion-avatar>
            <img [src]="assetsPath + route?.picture">
          </ion-avatar>
        </ion-row>
        <ion-row>
          <ion-card-subtitle [ngStyle]="{'font-weight': route.id == activeRoute?.id ? 'bold' : 'normal' }">
            {{ route.routeName }}
          </ion-card-subtitle>
        </ion-row>
      </ion-col>
    </ion-card>
  </div>
</div>