<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ route?.routeName }}</ion-title>
    <ion-buttons *ngIf="isRouteCreator" slot="end">
      <ion-button (click)="deleteRoute()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!isRouteCreator; else edit">
    <h2>{{ route?.routeName }}</h2>
    <p>{{ route?.description }}</p>
  </div>
  <span *ngIf="route?.aggregatedRatings != 'NaN'">
    <span *ngFor="let number of [1,2,3,4,5]">
      <ion-icon *ngIf="number <= route?.aggregatedRatings; else outlineStar" slot="start" name="star"></ion-icon>
      <ng-template #outlineStar>
        <ion-icon slot="start" name="star-outline"></ion-icon>
      </ng-template>
    </span>
  </span>
  <ng-template #edit>
    <form [formGroup]="routeForm">
      <ion-item>
        <ion-label position="floating" color="primary" required>Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div *ngIf="submitted && routeForm.controls.name.errors" class="erros">
        <div *ngIf="routeForm.controls.name.errors.required">
          Name is required.
        </div>
      </div>
      <ion-item>
        <ion-label position="floating" color="primary">Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Public</ion-label>
        <ion-toggle formControlName="public"></ion-toggle>
      </ion-item>
    </form>
  </ng-template>


  <ion-list-header>
    Route created by
  </ion-list-header>
  <ion-chip>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>{{ route?.creator?.username }}</ion-label>
  </ion-chip>

  <ion-list>
    <!--[routerLink]="'/list/' + attraction.id"-->
    <ion-list-header>
      Statues
    </ion-list-header>
    <div *ngIf="isRouteCreator; else notCreator">
      <ion-item-sliding *ngFor="let attraction of route?.attractions">
        <ion-item>
          <ion-label>{{attraction.titleEnglish}}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="removeAttractionFromRoute(attraction.id)">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
    <ng-template #notCreator>
      <ion-item *ngFor="let attraction of route?.attractions">
        <ion-label>{{attraction.titleEnglish}}</ion-label>
      </ion-item>
    </ng-template>
  </ion-list>

  <ion-list>
    <ion-list-header >
      <span (click)="toggleReviews()">
        Reviews ({{ route?.ratings?.length || "0" }})
      </span>
      <ion-note [routerLink]="'/create-review/' + route?.id">
        Add review
      </ion-note>
    </ion-list-header>
    <div *ngIf="showReviews && route.ratings">
      <ion-item *ngFor="let rating of route?.ratings">
        <ion-label>
          <h2>
            <span *ngFor="let number of [1,2,3,4,5]">
              <ion-icon *ngIf="number <= rating.rating; else outlineStar" slot="start" name="star"></ion-icon>
              <ng-template #outlineStar>
                <ion-icon slot="start" name="star-outline"></ion-icon>
              </ng-template>
            </span>
          </h2>
          <h3>
            {{ rating.comment }}
          </h3>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
  <ion-button *ngIf="!isActive; else unset" expand="block" (click)="setActiveRoute()">
    Set active route
  </ion-button>
  <ng-template #unset>
    <ion-button color="danger" expand="block" (click)="unsetActiveRoute()">
      Unset active route
    </ion-button>
  </ng-template>

  <ion-fab color="light" vertical="top" horizontal="end">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="bottom">
      <ion-fab-button (click)="shareTwitter()">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="shareEmail()">
        <ion-icon name="mail"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="shareFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="shareWhatsApp()">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>