<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ route?.routeName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>{{ route?.routeName }}</h2>
  <p>{{ route?.description }}</p>
  <p>{{ route?.creator?.username }}</p>


  <ion-list>
    <!--[routerLink]="'/list/' + attraction.id"-->
    <ion-item *ngFor="let attraction of route?.attractions">
      <ion-label>{{attraction.titleEnglish}}</ion-label>
      <div *ngIf="userHref && userHref == route.creator._links.self.href">
        <ion-button fill="outline" color="danger" (click)="removeAttractionFromRoute(attraction.id)">
          <ion-icon color="danger" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>
      </ion-item>
  </ion-list>
  <ul>
    <li *ngFor="let rating of route?.ratings">
      {{ rating }}
    </li>
  </ul>
  <ion-button expand="block" (click)="setActiveRoute()">
    Set active route
  </ion-button>
</ion-content>