<ion-card class="map-card" padding>
  <ion-icon class="card-close-icon ion-text-right" (click)="closeCreateUserSpotPopup()" name="close"></ion-icon>
  <ion-card-title>Mark a spot</ion-card-title>
  <ion-list>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="category" (ionChange)="categoryChange()" placeholder="Select One" interface="popover">
        <ion-select-option *ngFor="let option of userSpotCategoryOptions">{{ option.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Description</ion-label>
      <ion-textarea [(ngModel)]="description"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button
    [disabled]="!category"
   (click)="saveSpot()">
    Add marker  
  </ion-button>
</ion-card>