<ion-header>
  <ion-toolbar>
    <ion-title>Create route</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="routeForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating" color="primary" required>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div *ngIf="submitted && routeForm.controls.name.errors" class="erros">
      <div *ngIf="routeForm.controls.name.errors.required">
        Name is required.
      </div>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <div *ngIf="submitted && routeForm.controls.description.errors" class="erros">
      <div *ngIf="routeForm.controls.description.errors.required">
        Description is required.
      </div>
    </div>

    <ion-button class="bottom-btn" expand="block" fill="outline" type="submit" [disabled]="!routeForm.valid">
      <ion-icon slot="start" name="create"></ion-icon>
      Submit
    </ion-button>
  </form>

</ion-content>