#map_canvas {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  z-index: 1;
}

#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

#map {
  width: 100%;
  height: calc(100vh - 145px);
}
#map.map-route-started {
  height: calc(100vh - 45px);
}

.map-card {
  display: block;
  position: absolute;
  width: 80vw;
  top: 29vh;
  left: 0;
  right: 0;
  margin: auto;
}

.bg-white {
  background-color: white;
}

.card-close-icon {
  font-size: 24px;
  position: relative;
  left: 90%;
}

.locateMe {
  margin-bottom: 60px;
}

.map-wrapper {
  position: relative;
  justify-content: center;

  .full-width-grid {
    width: 100%;
    position: absolute;
    bottom: 3%;
  }

  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }
}

.header-md::after {
  background-image: none;
}

ion-toast.offset-top {
  .toast-wrapper {
    transform: translateY(55px) !important;
  }
}
