<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Map
    </ion-title>
    <!--
      <ion-buttons slot="end">
        <ion-button (click)="loadMap()" shape="round" fill="outline">
          <ion-icon slot="start" name="locate"></ion-icon>
        </ion-button>
      </ion-buttons>
    -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map-wrapper">
    <div #map id="map"></div>
    <div *ngIf="route">
      <ion-grid class="full-width-grid">
        <ion-row>
          <ion-col>
            <ion-button class="map-float-btn ion-margin-horizontal" expand="block">Start Route</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<div *ngIf="attraction">
  <ion-card id="card" class="map-card">
    <!--<img [src]="attraction.picture"/>-->
    <ion-card-header class="bg-white">
      <ion-icon class="card-close-icon ion-text-right" (click)="unselectAttraction()" name="close"></ion-icon>
      <ion-card-title>{{ attraction.title }}</ion-card-title>
      <ion-card-subtitle>{{ attraction.titleEnglish }}</ion-card-subtitle>
      <ion-icon [routerLink]="'/list/' + attraction.id" name="information-circle-outline"></ion-icon>
    </ion-card-header>
    <!--<ion-card-content class="bg-white">{{ attraction.description }}
        <div style="font-weight:bold">{{ attraction.creator }}</div>
      </ion-card-content>-->
  </ion-card>
</div>