<ion-header>
  <ion-toolbar>
    <ion-buttons color="black" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ mapService.activeRoute?.routeName }}</ion-title>
    <ion-buttons *ngIf="mapService.routeStarted && !mapService.routeCompleted" slot="end">
      <ion-button (click)="endRoute()" fill="solid" color="danger">
        End
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="mapService.routeStarted && mapService.routeCompleted" slot="end">
      <ion-button (click)="handleFinishRoute()" fill="solid" color="success">
        Finish
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-predefined-routes *ngIf="!mapService.routeStarted" [activeRoute]="mapService.activeRoute"
    (selectRoute)="selectPredefinedRoute($event)"></app-predefined-routes>
  <div class="map-wrapper">
    <div #map [ngClass]="{'map-route-started': mapService.routeStarted == true}" id="map"></div>
    <ion-grid class="full-width-grid">
      <ion-row>
        <ion-col>
          <div
            *ngIf="mapService.activeRoute && mapService.activeRoute?.attractions?.length > 0 && !mapService.routeStarted">
            <div *ngIf="mapService.userMarker; else noLocation">
              <ion-button *ngIf="!isTempRoute; else createRoute" (click)="startRoute()"
                class="map-float-btn ion-margin-horizontal" expand="block">
                Start route
              </ion-button>
              <ng-template #createRoute>
                <ion-button (click)="createTempRoute()" class="map-float-btn ion-margin-horizontal" expand="block">
                  Create route
                </ion-button>
              </ng-template>
            </div>
            <ng-template #noLocation>
              <ion-button disabled class="map-float-btn ion-margin-horizontal" expand="block">
                Retrieving your position
                <ion-spinner size="small" name="crescent"></ion-spinner>
              </ion-button>
            </ng-template>
          </div>
          <ion-button *ngIf="helpMeFindActive" (click)="deactivateHelpMeFind()"
            class="map-float-btn ion-margin-horizontal" color="success" expand="block">
            Found it!
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab *ngIf="mapService.userMarker" class="locateMe" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="locateMe()">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="mapService.routeStarted && mapService.isRouteCreator" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="popupForUserSpot = true">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<app-fact-packet-toast></app-fact-packet-toast>
<app-fact-packet-popup *ngIf="selectedFactPacket" [fact]="selectedFactPacket"
  [isRouteCreator]="mapService.isRouteCreator" (close)="closePopups($event)" (delete)="deleteSpot($event)">
</app-fact-packet-popup>
<app-start-new-route *ngIf="showStartNewRoute" (startRoute)="startRoute()" (close)="closePopups($event)"
  [activeRoute]="mapService.activeRoute">
</app-start-new-route>
<app-show-userspot *ngIf="selectedUserSpot" (close)="closePopups($event)" [userSpot]="selectedUserSpot"
  [isRouteCreator]="mapService.isRouteCreator" (delete)="deleteSpot($event)">
</app-show-userspot>
<app-create-userspot *ngIf="mapService.isRouteCreator && popupForUserSpot" [activeRoute]="mapService.activeRoute"
  [userPosition]="mapService.userMarker" (close)="closePopups($event)" (userSpotCreated)="userSpotCreated($event)">
</app-create-userspot>
<app-attraction-popup *ngIf="currentAttraction" (close)="closePopups($event)" (helpMeFind)="helpMeFind($event)"
  [attraction]="currentAttraction">
</app-attraction-popup>
<app-route-completed *ngIf="showCompleted" [activeRoute]="mapService.activeRoute" (close)="closeFinish($event)">
</app-route-completed>

<div *ngIf="selectedAttraction">
  <ion-card id="card" class="map-card">
    <ion-card-header class="bg-white">
      <ion-icon class="card-close-icon ion-text-right" (click)="unselectAttraction()" name="close"></ion-icon>
      <ion-card-title class="map-card-title">{{ selectedAttraction.titleEnglish }}</ion-card-title>
      <ion-card-subtitle>{{ selectedAttraction.title }}</ion-card-subtitle>
      <ion-button size="small" [routerLink]="'/list/' + selectedAttraction.id">
        <ion-icon name="information-circle-outline"></ion-icon>
        Info
      </ion-button>
      <div *ngIf="mapService.isRouteCreator || !mapService.activeRoute">
        <ion-button size="small" color="success" *ngIf="!selectedAttraction.inRoute; else not_in_active"
          (click)="handleAddToRouteClick()">
          <ion-icon name="add"></ion-icon>
          Add
        </ion-button>
        <ng-template #not_in_active>
          <ion-button size="small" color="danger" (click)="removeAttractionFromRoute(selectedAttraction?.id)">
            <ion-icon name="remove"></ion-icon>
            Remove
          </ion-button>
        </ng-template>
      </div>
      <ion-button *ngIf="mapService.routeStarted" size="small" class="right" (click)="helpMeFind()" color="warning">
          Help me find
        </ion-button>
    </ion-card-header>
  </ion-card>
</div>