<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Map
    </ion-title>
    <!--
      <ion-buttons slot="end">
        <ion-button (click)="loadMap()" shape="round" fill="outline">
          <ion-icon slot="start" name="locate"></ion-icon>
        </ion-button>
      </ion-buttons>
    -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map-wrapper">
    <div #map id="map"></div>
    <div *ngIf="activeRoute && activeRoute?.attractions?.length > 0">
      <ion-grid class="full-width-grid">
        <ion-row>
          <ion-col>
            <ion-button (click)="startRoute()" class="map-float-btn ion-margin-horizontal" expand="block">Start Route</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<div *ngIf="selectedAttraction">
  <ion-card id="card" class="map-card">
    <!--<img [src]="attraction.picture"/>-->
    <ion-card-header class="bg-white">
      <ion-icon class="card-close-icon ion-text-right" (click)="unselectAttraction()" name="close"></ion-icon>
      <ion-card-title class="map-card-title">{{ selectedAttraction.titleEnglish }}</ion-card-title>
      <ion-card-subtitle>{{ selectedAttraction.title }}</ion-card-subtitle>
      <ion-button size="small" [routerLink]="'/list/' + selectedAttraction.id">
        <ion-icon name="information-circle-outline"></ion-icon>
        Info
      </ion-button>
      <ion-button size="small" color="success" *ngIf="!selectedAttraction.inRoute; else not_in_active" [disabled]="!activeRoute"
        (click)="addAttractionToRoute()">
        <ion-icon name="add"></ion-icon>
        Add
      </ion-button>
      <ng-template #not_in_active>
        <ion-button size="small" color="danger" (click)="removeAttractionFromRoute(selectedAttraction?.id)">
          <ion-icon name="remove"></ion-icon>
          Remove
        </ion-button>
      </ng-template>
    </ion-card-header>
    <!--<ion-card-content class="bg-white">{{ attraction.description }}
        <div style="font-weight:bold">{{ attraction.creator }}</div>
      </ion-card-content>-->
  </ion-card>
</div>