<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ attraction?.titleEnglish }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div class="map-wrapper">
      <div #map id="map"></div>
    </div>
  </ion-card>
  <ion-list-header>{{ attraction?.position.district.name }}: {{ attraction?.position.latitude }}, {{ attraction?.position?.longitude }}</ion-list-header>
  <h2>{{ attraction?.titleEnglish }}</h2>
  <h4>{{ attraction?.title }}</h4>
  <p>{{ attraction?.description }}</p>
  <ion-list>
    <ion-list-header>Creator</ion-list-header>
    <ion-chip *ngFor="let creator of attraction?.creators" [routerLink]="'/detail-creator/' + creator.id" >
      <ion-label>{{ creator.firstName }} {{ creator.lastName }}</ion-label>
    </ion-chip>
  </ion-list>
  <div *ngIf="!inActiveRoute; else not_in_active">
    <ion-button expand="block" (click)="addAttractionToRoute()">
      Add to route
    </ion-button>
  </div>
  <ng-template #not_in_active>
    <ion-button color="danger" expand="block" (click)="removeAttractionFromRoute(attraction?.id)">
      Remove from route
    </ion-button>
  </ng-template>
</ion-content>