<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ attraction?.title }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div class="map-wrapper">
      <div #map id="map"></div>
    </div>
  </ion-card>
  <h2>{{ attraction?.title }}</h2>
  <h4>{{ attraction?.titleEnglish }}</h4>
  <p>{{ attraction?.description }}</p>
  <p>{{ attraction?.position?.latitude }}, {{ attraction?.position?.longitude }}</p>
  <ul>
    <li *ngFor="let creator of attraction?.creators">
      {{ creator.firstName }} {{ creator.lastName }}
    </li>
  </ul>
  <div *ngIf="!inActiveRoute; else not_in_active">
    <ion-button expand="block" (click)="addAttractionToRoute()">
      Add to route
    </ion-button>
  </div>
  <ng-template #not_in_active>
    <ion-button color="danger" expand="block" (click)="removeAttractionFromRoute(attraction?.id)">
      Remove from route
    </ion-button>
  </ng-template>
</ion-content>